* {
  margin: 0;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
}

body {
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

.header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  align-items: center;
}

.logo {
  display: flex;
  padding-left: 10px;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

.header .nav {
  padding-right: 10px;
}

.header .nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
}

a {
  color: seashell;
}

.main {
  background-color: white;
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: auto;
}

#mission .content {
  margin: auto;
  width: 100%;
}

#featured .title {
  padding-top: 100px;
}
